.main-container{
    min-height: 100vh;
  
}


h1{
    font-family: 'Lexend Deca';
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-top: 83px;
}

input{
    background: #FFFFFF;
    border: 1px solid rgba(120, 177, 89, 0.25);
    box-shadow: 0px 4px 24px rgba(120, 177, 89, 0.12);
    border-radius: 12px;
    width: 769px;
    height: 60px;
    margin-bottom: 25px;
    text-indent:15px;

}

input:focus {
    outline: none;
    border: 2px solid rgba(120, 177, 89, 0.25);
 }



@media(max-width: 775px){
    input{
        width: 90%;
    }
}